dashboard-view,
#dashboard-view {
  display: flex;
  padding: 1em;
}

ComboBox {
  width: 50%;
}

#selectedMonkey {
  text-align: center;
}

#leftSideLayout {
  height: 100%;
}

#rightSideLayout {
  height: 100%;
}

#family-info {
  width: 100%;
}

.MonkeyIcon {
  width: 10%;
  height: auto;
}

